version: '3'
services:
  app:
    build: .
  world-db:
    build: ./world-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: world
      MYSQL_ROOT_HOST: '%'
    ports:
      - "33060:3306"
